@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1e272e;
    margin-bottom: 50px;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo {
    max-width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-links li {
    font-size: 21px;
    color: #ccc;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #ccc;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #00aeff;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 100%;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #00aeff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    text-transform: uppercase;
}

.headerctn {
    font-size: 42px;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
    text-align: center;
    color: #ccc;
}

.filter-buttons {
    font-size: 18px;
    text-align: center;
    margin-top: 60px;
    display: flex;
    gap: 30px;
    justify-content: center;
    cursor: pointer;
    list-style: none;
    padding: 0;
    color: #fff;
}

.bold {
    font-weight: 500;
}

.vertical-line-container {
    position: relative;
    height: 200px;
    margin-top: -285px;
}

.vertical-line {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) rotate(90deg);
    width: 1px;
    height: 600px;
    background-color: #ababab;
    content: '';
}

.filter-buttons button {
    position: relative;
    padding-bottom: 0.75rem;
    color: #75d2c2;
}

.filter-buttons button::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #00aeff;
    transition: all 0.3s ease;
}

.filter-buttons button:hover::after {
    width: 100%;
}

.headerimg {
    width: 55%;
    margin: auto;
    transition: all 1.5s ease-in-out;
}

.headerimg img {
    border-radius: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.headerimg:hover {
    width: 65%;
}
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00aeff, 0 0 40px #00aeff, 0 0 50px #00aeff, 0 0 60px #00aeff, 0 0 70px #00aeff;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #40bffa, 0 0 40px #40bffa, 0 0 50px #40bffa, 0 0 60px #40bffa, 0 0 70px #40bffa, 0 0 80px #40bffa;
    }
}

#filter-obj {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

#filter-obj img {
    width: 80%;
    margin-top: 30px;
    border-radius: 20px;
}

#filter-obj.hide {
    display: none;
}

.secondary p {
    font-size: 35px;
    color: white;
    font-weight: bold;
    margin-left: -30%;
}


/* 1 */

.container1 {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 15px;
    margin-top: 50px;
    background-image: url('https://cdn.discordapp.com/attachments/732932269953777664/1189674325301797035/8.jpg?ex=659f058e&is=658c908e&hm=4cb7ed36fde85bc224f250ac42036d5080147a3da2aa1a2e8fed9ae970071b79&');
    background-size: cover;
    background-position: center;
    width: 80%;
    box-shadow: -1px 3px 33px -1px rgba(0, 0, 0, 0.75);
    margin-inline: auto;
  }

  .list {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  .item:nth-child(1) {
    display: flex;
    justify-content: space-between;
  }

  .list-item {
    margin: 0.5em 0 1em 0;
    border: 1px solid white;
    border-radius: 20px;
    padding: 0.5em;
  }

  .middle--line {
    width: 100%;
    background: #d3d3d3;
    height: 0.5px;
    margin-bottom: 1em;
  }

  .paragraph {
    padding: 0 1em 1em 1em;
  }

  .btn--primary {
    border: 0;
    background: #00aeff;
    color: white;
    padding: 0.8em 1.4em;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
  }

  .profession--section {
    color: white;
  }

  .paragraph {
    color: white;
  }

  .profession--section h2 {
    font-size: 31px;
    font-weight: 400;
  }

  /* 2 */

  .container2 {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 15px;
    margin-top: 50px;
    background-image: url('https://cdn.discordapp.com/attachments/732932269953777664/1189674324962050139/1.jpg?ex=659f058e&is=658c908e&hm=b77fa3d3d677a0b4ce5657cadbf95a6a8dad3aecf5c33726137271d13f658b54&');
    background-size: cover;
    background-position: center;
    width: 80%;
    box-shadow: -1px 3px 33px -1px rgba(0, 0, 0, 0.75);
    margin-inline: auto;
  }

  /* 3 */

  .container3 {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 15px;
    margin-top: 50px;
    background-image: url('https://cdn.discordapp.com/attachments/732932269953777664/1189674326094532709/6.jpg?ex=659f058e&is=658c908e&hm=1e603101c6de0ac5419957cc5f33a277fd1232f25e5d05465c46697db3827c3a&');
    background-size: cover;
    background-position: center;
    width: 80%;
    box-shadow: -1px 3px 33px -1px rgba(0, 0, 0, 0.75);
    margin-inline: auto;
  }

  /* 4 */

  .container4 {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 15px;
    margin-top: 50px;
    background-image: url('https://cdn.discordapp.com/attachments/732932269953777664/1189674327235371008/3.jpg?ex=659f058e&is=658c908e&hm=cb60976b7b72e3d9582e847de5271da001e4c4eb4d6c1b45856a9d2859c07325&');
    background-size: cover;
    background-position: center;
    width: 80%;
    box-shadow: -1px 3px 33px -1px rgba(0, 0, 0, 0.75);
    margin-inline: auto;
  }

  /* 5 */

  .container5 {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 15px;
    margin-top: 50px;
    background-image: url('https://cdn.discordapp.com/attachments/732932269953777664/1189674325729619979/7.jpg?ex=659f058e&is=658c908e&hm=1ff3185a84366a8f84ec6f9b7e77622659057689ac3d9bae75c2c826bcb77553&');
    background-size: cover;
    background-position: center;
    width: 80%;
    box-shadow: -1px 3px 33px -1px rgba(0, 0, 0, 0.75);
    margin-inline: auto;
  }

  /* 6 */

  .container6 {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 15px;
    margin-top: 50px;
    background-image: url('https://cdn.discordapp.com/attachments/732932269953777664/1189674326841110548/4.jpg?ex=659f058e&is=658c908e&hm=fb7e5339dead2e715e7f953617e95a194ddf077b2f62d607e480ab7cd377ad06&');
    background-size: cover;
    background-position: center;
    width: 80%;
    box-shadow: -1px 3px 33px -1px rgba(0, 0, 0, 0.75);
    margin-inline: auto;
  }

  /* 7 */

  .container7 {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 15px;
    margin-top: 50px;
    background-image: url('https://cdn.discordapp.com/attachments/732932269953777664/1189674327688360026/2.jpg?ex=659f058e&is=658c908e&hm=f31f17e18cd7f0191ad0f44698fc3ef6ac913ba8a842441c4b9c3654e7595ac2&');
    background-size: cover;
    background-position: center;
    width: 80%;
    box-shadow: -1px 3px 33px -1px rgba(0, 0, 0, 0.75);
    margin-inline: auto;
  }

  /* 8 */

  .container8 {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 15px;
    margin-top: 50px;
    background-image: url('https://cdn.discordapp.com/attachments/732932269953777664/1189679613035692072/1.jpg?ex=659f0a7a&is=658c957a&hm=f56752ca1f9997ba8aff93ffcec5f5e450fe0872299bbeb7ce80470a6c0a991a&');
    background-size: cover;
    background-position: center;
    width: 80%;
    box-shadow: -1px 3px 33px -1px rgba(0, 0, 0, 0.75);
    margin-inline: auto;
  }

  /* 9 */

  .container9 {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 15px;
    margin-top: 50px;
    background-image: url('https://cdn.discordapp.com/attachments/732932269953777664/1189674326396510258/5.jpg?ex=659f058e&is=658c908e&hm=2ebcf3cce70ca86943adddd4860cbf0e230fe2b686c3e75dec7382bbce6a8bd7&');
    background-size: cover;
    background-position: center;
    width: 80%;
    box-shadow: -1px 3px 33px -1px rgba(0, 0, 0, 0.75);
    margin-inline: auto;
  }